@font-face {
  font-family: 'NunitoSansRegular';
  src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSansRegular';
  src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
  src: url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
    url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
    url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
    url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}